@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.vote-arrows {
  width: 40px;
  height: 30px;
  text-align: center;
}

.voted {
  opacity: 0.5;
}

.favorite {
  margin-top: 20px;
}

.top-spacer {
  margin-top: 10px;
}

.btm-spacer {
  margin-bottom: 10px;
}