<% if policy(Vote.new).create? %>
<div class="pull-left vote-arrows">
  <div>
    <%= link_to " ", 
      post_up_vote_path(post), 
      class: vote_link_classes(:up, post), method: :post %></div>
  <div><strong><%= post.points %></strong></div>
  <div>
    <%= link_to " ", 
    post_down_vote_path(post), 
    class: vote_link_classes(:down, post), method: :post %></div>
</div>
<% end %>